{% extends 'task/index.html' %} 
{% block content %}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

    * {
        font-family: "Bai Jamjuree", sans-serif;
    }

    .card {
        margin-top: 1rem;
    }

    .card, .card-body {
        
        background-color: #e7f3ff;
        border-radius: 20px;
    }

    .text-center {
        text-align: center;
    }

    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .pl-0 {
        padding-left: 0;
    }

    .submit-btn {
        border: 1px solid #53c536;
        background-color: #53c536;
    }

    .mt-3 {
        margin-top: 2rem;
    }

    .d-none {
        display: none;
    }

    .form-step {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 12px;
        margin-top: 2rem;
        padding: 2rem;
        background-color: #fff;
    }

    ul.form-stepper {
        counter-reset: section;
        margin-bottom: 1rem;
    }

    ul.form-stepper .form-stepper-circle {
        position: relative;
    }

    ul.form-stepper .form-stepper-circle span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .form-stepper-horizontal {
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    ul.form-stepper>li:not(:last-of-type) {
        margin-bottom: 0.625rem;
        transition: margin-bottom 0.4s;
    }

    .form-stepper-horizontal>li:not(:last-of-type) {
        margin-bottom: 0 !important;
    }

    .form-stepper-horizontal li {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        flex-wrap: nowrap;
        transition: 0.5s;
        justify-content: space-evenly;
    }

    .form-stepper-horizontal li:not(:last-child):after {
        position: relative;
        flex: 1;
        height: 1px;
        content: "";
        top: 32%;
    }

    .form-stepper-horizontal li:after {
        background-color: #c4cad0;
    }

    .form-stepper-horizontal li.form-stepper-completed:after {
        background-color: #0277ff;
    }

    .form-stepper-horizontal li:last-child {
        flex: unset;
    }

    ul.form-stepper li a .form-stepper-circle {
        display: inline-block;
        margin-right: 0;
        line-height: 1.7rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.38);
        border-radius: 50%;
    }

    .form-stepper .form-stepper-active .form-stepper-circle {
        background-color: #0277ff !important;
    }

    .form-stepper .form-stepper-active .label {
        color: #0277ff !important;
    }

    .form-stepper .form-stepper-active .form-stepper-circle:hover {
        background-color: #0277ff !important;
    }

    .form-stepper .form-stepper-unfinished .form-stepper-circle {
        background-color: #f5f5f5;

    }

    .form-stepper .form-stepper-completed .form-stepper-circle {
        background-color: #0277ff !important;
    }

    .form-stepper .form-stepper-completed .label {
        color: #0277ff !important;
    }

    .form-stepper .form-stepper-completed .form-stepper-circle:hover {
        background-color: #0277ff !important;
    }

    .form-stepper .label {
        font-size: 14.5px;
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .form-stepper a {
        cursor: default;
    }

    .number-lable {
        color: #333944;
        font-size: 12.5px;
        font-weight: 500;
    }

    .number-step {
        color: #5d87ff;
        font-weight: 700;
        font-size: 18px;
    }

    .text-muted {
        --bs-text-opacity: 1;
        color: #0277ff !important;
    }
</style>

<div class="card">
    <div class="card-body">
        <div id="multi-step-form-container">
            <!-- Form Steps / Progress Bar -->
            <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0 ">
                <!-- Step 1 -->
                <li class="form-stepper-unfinished text-center form-stepper-list">
                    <a class="mx-2">
                        <span class="number-step"><i class="fi fi-sr-user-add"></i></span>
                        <div class="number-lable">ข้อมูลลูกค้า</div>
                        <span class="form-stepper-circle text-muted">
                            <span><i class="fa-solid fa-circle-check fa-lg"></i></span>
                        </span>
                    </a>
                </li>
                <!-- Step 2 -->
                <li class="form-stepper-unfinished text-center form-stepper-list">
                    <a class="mx-2">
                        <span class="number-step"><i class="fi fi-sr-comment-user"></i></span>
                        <div class="number-lable"> ผู้ติดต่อ</div>
                        <span class="form-stepper-circle text-muted">
                            <span><i class="fa-solid fa-circle-check fa-lg"></i></span>
                        </span>
                    </a>
                </li>
                <!-- Step 3 -->
                <li class="form-stepper-unfinished text-center form-stepper-list">
                    <a class="mx-2">
                        <span class="number-step"><i class="fi fi-sr-user-lock"></i></span>
                        <div class="number-lable">รหัสผ่าน</div>
                        <span class="form-stepper-circle text-muted">
                            <span><i class="fa-regular fa-circle-dot fa-lg"></i></span>
                        </span>
                    </a>
                </li>
                <!-- Step 4 -->
                <li class="form-stepper-unfinished text-center form-stepper-list">
                    <a class="mx-2">
                        <span class="number-step"><i class="fi fi-sr-document"></i></span>
                        <div class="number-lable">แนบไฟล์</div>
                        <span class="form-stepper-circle text-muted">
                            <span><i class="fa-regular fa-circle fa-lg"></i></span>
                        </span>
                    </a>
                </li>
            </ul>

            <!-- Step -->
            <section class="form-step">
                <!-- Step 3 input fields -->
                <div class="mt-1">
                    <form id="createPasswordForm" method="post" action="{% url 'taskcontrol:create_password' client_id=client.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5">
                                <label for="type_password" class="form-label fw-semibold">หน่วยงาน :</label>
                                <select name="type_password" id="type_password" class="form-select">
                                    {% for register_type in register_types %}
                                    <option value="{{ register_type.id }}">
                                        {{ register_type.short_name }} - {{ register_type.name_th }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="username" class="form-label fw-semibold">ผู้ใช้งาน :</label>
                                <input type="text" class="form-control" id="username" name="username" required/>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="password" class="form-label fw-semibold">รหัสผ่าน :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="password" id="password" aria-label="Password" required/>
                                </div>
                            </div>
                        </div>
                        <div class="text-end mb-3">
                            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> เพิ่มรหัสใหม่</button>
                        </div>
                    </form>
        
                    <div class="table-responsive mb-4">
                        <table id="password-table" class="table">
                            <thead class="table-light">
                                <tr>
                                    <th style="width: 8%;">#</th>
                                    <th style="width: 40%;">หน่วยงาน</th>
                                    <th style="width: 20%;">ผู้ใช้งาน</th>
                                    <th style="width: 20%;">รหัสผ่าน</th>
                                    <th class="text-center" style="width: 12%;"><i class="fa-solid fa-gears"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for password in passwords %}
                                <tr id="password-row-{{ password.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ password.type_password.short_name }} - {{ password.type_password.name_th }}</td>
                                    <td>{{ password.username }}</td>
                                    <td>{{ password.password }}</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-sm btn-outline-warning edit-button" data-bs-toggle="modal" data-bs-target="#updateModal{{ password.id }}">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm delete-btn" data-password-id="{{ password.id }}"
                                                data-delete-url="{% url 'taskcontrol:delete_password' password_id=password.id %}">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
        
                                <!-- Modal Edit Password -->
                                <div class="modal fade" id="updateModal{{ password.id }}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-dark fw-semibold"><i class="fa-solid fa-pen-to-square" style="color: #ffbc35;"></i>&nbsp;แก้ไขช่องทาง</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="edit-password-form-{{ password.id }}" method="POST" action="{% url 'taskcontrol:update_password' password_id=password.id %}">
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label for="edit-type-password-{{ password.id }}" class="form-label">หน่วยงาน :</label>
                                                        <select name="edit_type_password" id="edit_register_types_id_{{ password.id }}" class="form-select">
                                                            {% for register_type in register_types %}
                                                            <option value="{{ register_type.id }}" {% if password.type_password.id == register_type.id %} selected {% endif %}>
                                                                {{ register_type.short_name }} - {{ register_type.name_th }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit_username_{{ password.id }}" class="form-label">ผู้ใช้งาน :</label>
                                                        <input type="text" id="edit_username_{{ password.id }}" name="edit_username" class="form-control" value="{{ password.username }}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit_password_{{ password.id }}" class="form-label">Password :</label>
                                                        <input type="text" id="edit_password_{{ password.id }}" name="edit_password" class="form-control" value="{{ password.password }}">
                                                    </div>
                                                    <div class="modal-footer text-end">
                                                        <button type="submit" class="btn btn-primary">แก้ไข</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'taskcontrol:create_contact' client_id=client.id %}" class="btn btn-outline-dark"><i class="fa-solid fa-angles-left"></i> ย้อนกลับ</a>
                    <a href="{% url 'taskcontrol:file_client_create' client_id=client.id %}" class="btn btn-dark">ถัดไป <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#createPasswordForm').on('submit', function(e) {
            e.preventDefault();
            const csrftoken = getCsrfToken(); 
    
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    $('#submitButton').prop('disabled', true); // Disable the submit button to prevent multiple submissions
                },
                success: function(response) {
                    console.log(response);
                    alert("Password created successfully!");
                    window.location.reload();
                },
                error: function(xhr, errmsg, err) {
                    console.error(xhr.responseText);
                    alert("Error creating password. Please try again.");
                    $('#submitButton').prop('disabled', false); // Re-enable the submit button
                }
            });
        });
    
        const deleteButtons = document.querySelectorAll(".delete-btn");
        deleteButtons.forEach(button => {
            button.addEventListener("click", function() {
                handleDelete(this);
            });
        });
    
        function handleDelete(button) {
            const typeId = button.getAttribute("data-password-id");
            const confirmation = confirm("ต้องการลบประเภทงานนี้ ?");
            if (confirmation) {
                const deleteUrl = button.getAttribute("data-delete-url");
                fetch(deleteUrl, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    location.reload();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert('Error deleting item. Please try again.');
                });
            }
        }
    
        function getCsrfToken() {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken=')) {
                        cookieValue = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    
</script>
<script>
    $(document).ready(function () {
         const dataTable = $("#password-table").DataTable({
              "language": {
                   "search": "ค้นหา",
                   "lengthMenu": "แสดง _MENU_ รายการ",
                   "info": "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                   "paginate": {
                        "previous": "ก่อนหน้า",
                        "next": "ถัดไป"
                   }
              }
         });
    });
</script>
{% endblock %}